.reservation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.reservation__information {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;

    .card {
        padding: 15px;
        flex-direction: column;
    }
}

.reservation__total {
    padding-bottom: 10px;
}

.reservation__date {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 1px solid #d5d5d5;
    padding-top: 20px;

    & > svg,
    & > div {
        flex: 1;
    }

    svg {
        margin-bottom: 7px;
    }
}

.reservation__description {
    display: flex;
    flex-direction: column;

    & > p {
        margin-bottom: 7px;
    }

    span {
        color: #9b9b9b;
    }
}

.total-price__container {
    text-align: right;
    
    p {
        font-size: 32px;
        line-height: 28px;
        display: flex;
        align-items: flex-start;

        span {
            color: #1c47be;
            font-size: 24px;
            margin-right: 10px;
        }
    }

    & >  span {
        color: #9b9b9b;
    }
}

.google-map {
    border-radius: 10px;
    height: 300px;
    width: 100%;
}